<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BlobShareDataStoreEntities" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BlobShareDataStore;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="BlobShareDataStoreEntities" value="Data Source=.\SQLEXPRESS;Initial Catalog=BlobShareDataStore;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add key="BootstrapAdministratorSecret" value="123456" />
    <add key="DataConnectionString" value="UseDevelopmentStorage=true" />
    <add key="SmtpHost" value="smtp.sendgrid.net" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpUser" value="wazstorage@southworks.net" />
    <add key="SmtpPassword" value="Azure.Team007" />
    <add key="SmtpSenderName" value="Blob Share" />
    <add key="SmtpSenderAddress" value="blobshare@live.com" />
    <add key="AcsNamespace" value="resourcedepot.accesscontrol.windows.net" />
    <add key="MainBlobContanier" value="content" />
  </appSettings>
</configuration>