<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BlobShareDataStoreEntities" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BlobShareDataStore;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="BlobShareDataStoreEntities" value="Data Source=.\SQLEXPRESS;Initial Catalog=BlobShareDataStore;Integrated Security=True;MultipleActiveResultSets=True"/>
  </appSettings>
</configuration>