@{
    ViewBag.Title = "Blob Share | Reports";
}

<h1>Reports</h1>
<p>
    Select the report type you'll want to see.
</p>
<ul style="margin-left:10px;">
    <li>@Html.ActionLink("User Activity", "UserActivity")</li> 
    <li>@Html.ActionLink("Blob Activity", "BlobActivity")</li>
    <li>@Html.ActionLink("Blob Set Activity", "BlobSetActivity")</li>
</ul>
