@model Microsoft.Samples.DPE.BlobShare.Web.Models.ProfileViewModel
@{
    ViewBag.Title = "Blob Share | Edit Profile";
}

<h1>My Profile</h1>
@{Html.RenderPartial("ProfileUserControl", Model);}
