@model Microsoft.Samples.DPE.BlobShare.Web.Models.RegisterAdminViewModel
@{
    ViewBag.Title = "Blob Share | Registration Successful";
}

<div class="title">
    Congratulations!
</div>

<div class="group" >
    You have successfully configured your instance of Blob Share and it's ready to be used @Html.ActionLink("here", "Index", "Home").
</div>
